body{
    background-color:#CA6CE6;
}

.main{
    background: url(Assets/main\ page\ part\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:120vh;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow:auto;
}
.navbar-scrolled {
    background-color: rgba(39, 39, 39, 0.8);
    transition: background-color 0.3s ease; 
    z-index: -1;
}

.logo img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2%;
    left:3.3%;
    height:60px;
    position: fixed;
    border-radius: 50%;
    padding: 20px 28px;
    background-color: rgb(255, 255, 255);
}


.nav-links {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    list-style: none;
    font-weight: 700;
}

.nav-links li {
    display: inline-block;    
    margin-left: 12.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.nav-links li :hover{
    zoom: 120%;
}

.button1{
    position: absolute;
    top: 66%;
    left:4%;
    height:80px;
}

.login-btn{
    padding:30px 60px;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    border:none;
    background-color: rgb(143, 19, 181);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content1 h2{
    color:rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 5rem;
    position: absolute;
    left:4%;
    top:20%;


}

.content2{
    color:rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 2rem;
    position: absolute;
    left:4.5%;
    top:45%;

}

.img1 img{
    height:600px;
    position: absolute;
    right:10%;
    top:20%;

}
.Advertisment img{
    height:550px;
    width:350px;
    position: absolute;
    left:5%;
}

.advcontent{
    position: absolute;
    right:4%;
    font-size: 7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
}
.addimen h6{
    position: relative;
    top:18rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
}

.inch1{
    position: relative;
    top:15rem;
    left:39.5rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
}

.inch2{
    position: relative;
    top:15rem;
    left:41.5rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color:white;
    text-align: center;
}

.imgmain img{
   height:500px;
   position: absolute;
   top:105rem;
   right:7rem;
}

.imgmain1 img{
    height:500px;
    position: absolute;
    top:135rem;
    left:7rem;
 }

 .imgmain2 img{
    height:500px;
    position: absolute;
    top:165rem;
    right:7rem;
 }

 .imgmain h4{
    position: absolute;
   top:105rem;
   left:6rem;
    font-size: 7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
 }


 .imgmain1 h4{
    position: absolute;
    top:135rem;
    left:25rem;
    font-size: 7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
 }

 .imgmain2 h4{
    position: absolute;
    top:165rem;
    left:1rem;
    font-size: 7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
 }

 .bookbtn{
    position: absolute;
    top:185rem;
    left:19rem;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:white;
    text-align: center;
 }

 .booknow{
    padding:30px 60px;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    border:none;
    background-color: rgb(143, 19, 181);
    text-decoration: none;
    color: rgb(255, 255, 255);
 }

 .brandwall p{
     display:inline-block;
 }

 .upi img{
    position: absolute;
    left:0%;
    top:230rem;
    height:823px;
 }

 .snack1 img{
    height:400px;
    position: absolute;
    top:200rem;
    left:6rem;
 }

 .snack2 img{
    height:400px;
    position: absolute;
    top:200rem;
    left:42rem;
 }
 .snack3 img{
    height:400px;
    position: absolute;
    top:200rem;
    left:56rem;
 }

 .snackh1 h2{
    color:white;
    position: absolute;
    top:225rem;
    left:40rem;
    font-size: 2.5rem;
 }
